<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Home{% endblock %} - Acceptance tests</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen, projection" href="{{ asset('/bundles/canaltpacceptancetest/css/styles.css') }}"
    </head>
    <body>
        {% include 'CanalTPAcceptanceTestBundle::nav.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>    
    </body>
</html>