// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


.feature {
    strong {
        color: #bd362f;
    }
    em {
        color: #00A0E1;
        font-weight: bold;
        font-style: normal;
    }
}
.filename {
    font-size: 0.85em;
}